<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Robot_to_URDF_New_Pakka">
  <xacro:arg name="use_gazebo" default="false"/>
  <xacro:arg name="gazebo_controllers" default="$(find kerabot_moveit_config)/config/ros2_controllers.yaml"/>
  <material name="Steel">
    <color rgba="0.541 0.596 0.749 1.0"/>
  </material>
  <material name="Stainless_Steel_304">
    <color rgba="0.541 0.596 0.749 1.0"/>
  </material>
  <xacro:if value="$(arg use_gazebo)">
    <link name="world"/>
    <joint name="world_to_base_link" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:if>
  <xacro:include filename="$(find Robot_to_URDF_New_Pakka_description)/urdf/assemblies/J3J4_Elbow.urdf.xacro"/>
  <xacro:include filename="$(find Robot_to_URDF_New_Pakka_description)/urdf/assemblies/J6_holder.urdf.xacro"/>
  <xacro:include filename="$(find Robot_to_URDF_New_Pakka_description)/urdf/assemblies/Robot_Assembly_URDF_New.urdf.xacro"/>
  <xacro:J3J4_Elbow prefix=""/>
  <xacro:J6_holder prefix=""/>
  <xacro:Robot_Assembly_URDF_New prefix=""/>
  <joint name="Revolute_3" type="continuous">
    <parent link="L110I_shoulder_2"/>
    <child link="J2J3_Shoulder"/>
    <origin xyz="0.000000 0.426000 0.003028" rpy="-1.570796 -1.570796 0.000000"/>
    <axis xyz="-1.000000 0.000000 -0.000000"/>
    <limit effort="100.0" velocity="1.00"/>
  </joint>
  <joint name="Revolute_4" type="continuous">
    <parent link="J2J3_Shoulder"/>
    <child link="Wrist_Motor"/>
    <origin xyz="0.053972 0.000000 0.314000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="-0.000000 0.000000 1.000000"/>
    <limit effort="100.0" velocity="1.00"/>
  </joint>
  <joint name="Revolute_5" type="continuous">
    <parent link="Wrist_Motor"/>
    <child link="L70IE_Finger"/>
    <origin xyz="0.059500 0.000000 0.130000" rpy="-0.000787 -1.570796 0.002101"/>
    <axis xyz="-0.000000 0.000000 1.000000"/>
    <limit effort="100.0" velocity="1.00"/>
  </joint>
  <ros2_control name="Robot_to_URDF_New_Pakka_system" type="system">
    <hardware>
      <xacro:if value="$(arg use_gazebo)">
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </xacro:if>
      <xacro:unless value="$(arg use_gazebo)">
        <plugin>mock_components/GenericSystem</plugin>
        <param name="cmd_topic">sim/Robot_to_URDF_New_Pakka_system/cmd</param>
        <param name="state_topic">sim/Robot_to_URDF_New_Pakka_system/state</param>
      </xacro:unless>
    </hardware>
    <joint name="Revolute_1">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Revolute_2">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Revolute_3">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Revolute_4">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Revolute_5">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="ee_rotation_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <xacro:if value="$(arg use_gazebo)">
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg gazebo_controllers)</parameters>
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
      </plugin>
    </gazebo>
    <gazebo reference="base_link">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
      <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="L110I_Shoulder">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="L110I_shoulder_2">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="J2J3_Shoulder">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="Wrist_Motor">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="L70IE_Finger">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="end_effector_box_link">
      <mu1>1.2</mu1>
      <mu2>1.2</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
      <material>Gazebo/DarkGrey</material>
    </gazebo>
  </xacro:if>
</robot>
